muleday1/src/main/mule/muleday1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f678a700-c95c-4d17-931a-4dc0902f6930" >
		<http:listener-connection host="0.0.0.0" port="8092" />
	</http:listener-config>
	<flow name="muleday1Flow" doc:id="1ab6dd8d-d478-4eb8-9700-7de21890cc50" >
		<http:listener doc:name="Listener" doc:id="830c0caf-e1b2-49d8-8732-1d3d21747aeb" config-ref="HTTP_Listener_config" path="/day1"/>
		<ee:transform doc:name="Transform Message" doc:id="0bea2735-f913-49df-8f60-0b16834e93f4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Welcome!" ++ payload.firstName++" "++ payload.lastname	++"." ++ "Your customer id is " ++ payload.cid++"."  ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
